body {
    background-color: whitesmoke;
    text-align: center;
    padding: 0px 25px 0 25px;
}

nav > a {
    height: 10px;
    width: 10px;
    color: rgb(73, 73, 172);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 8px;
    background-color: transparent;
    margin-top: 0 0 50px 0;
    text-align: center;
    text-decoration: none;
  }

textarea {
    width: 250px;
    height: 100px;
    position: relative;
    border-radius: 15px;
}

ul {
   width: max-content;
   margin: 0 auto;
   list-style-type: none;
   text-align: left;
   padding-inline-start: 0;
   padding: 10px 0 10px 0;
}

li {
    padding: 2px 0 2px 0;
}

.textinput {
    margin: 10px;
    width: 250px;
    height: 25px;
    border-radius: 25px;
}

label {
    font-size: 20px;
}

#yes, #no {
    margin: 0;
    width: 20px;
}
#submit {
    width: 75px;
    height: 50px;
    border-radius: 25px;
}
