body {
    display: grid;
    grid-template-columns: 30% 65%;
    margin: 0 auto;
    column-gap: 20px;
    width: 100%;
    color: rgb(71, 71, 67);
    letter-spacing: 2px;
}

.contact {
    background-image: linear-gradient(purple, blue);
    color: white;
    height: 100%;
    }

.contact ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: flex-end;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 20px;
}

.image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    width: 60%;
    align-self: center;
    }

.contact li {
    font-size: 13px;
    flex: 1;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
  width: 70%;
  margin-left: 0;
  }

.contact hr {
    margin: auto;
}

.contact p {
    text-align: center;
    padding-top: 40px;
  }

.morgan p {
    margin-top: 20px;
    margin-bottom: 50px;
}

h1 {
    font-size: 45px;
    color: purple;
    margin: 5px;
    font-weight: bold;
    letter-spacing: 2px;
  }

.morgan h1 {
    padding-top: 10px;
    line-height: 60px;
}
h2 {
    color: purple;
    margin-top: 25px;
    margin-bottom: 10px;
    }

.side h2 {
    text-align: left;
    padding-left: 15px;
}
h3, h4 {
    margin-bottom: 2px;
  }

h4 {
    margin-top: 2px;
  }

  i {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
.software {
    display: none;
}

@media screen and (min-width: 600px) {
    body {
        max-width: 85%;
    }
    .software {
        display: block;
    }
}