body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
  }

  /* This is an element within an element selector */ 
  nav > a {
    height: 25px;
    color: rgb(73, 73, 172);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 8px;
    background-color: transparent;
    margin-top: 0 0 50px 0;
    text-align: center;
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0 30px 0;
  }
  /* This is an ID selector */
  #profile-pic {
    width: auto;
    height: auto;
  }

  .twitter-follow-button {
    font-size: 10px;
    margin: 3% auto;
  }